<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<%= @user.first_name %> <br>
<%= @user.current_city %> <br>
<%= @user.created_at %> <br>

<%= link_to "Edit", edit_user_path(@user) %>

<%= link_to "logout", logout_path %>