<div class="col-sm-4 col-sm-offset-4">
 <legend>Edit your post!</legend>
 <%= form_for @post do |f| %>

	<% flash.each do |name, msg| %>
	  <%= content_tag :div, msg, class: name %>
	<% end %>
   <!-- or not -->
   <%= f.label :title %>:
   <%= f.text_field :title, class:"form-control", required: true %><br />

	<%= f.hidden_field :city_id %>

   <%= f.label :content %>:
   <%= f.text_area :content, class:"form-control", required: true, size: "24x6" %><br />

   <%= f.submit "Save Post", class:"btn btn-primary" %>
 <% end %>
</div>
