
<div class="col-sm-8 col-sm-offset-2">
	<h1>  <%= @post.title %> </h1>
	<div class="author">

	  Written by: <%= @post.user.username %><br />
	  About: <%= @post.city.city_name %><br /><br />

	</div>

	<div class="post">
	  <%= @post.content %><br /><br />

	  <div class="tags"> Tags: <%=raw tag_links(@post.all_tags) %></div>
	</div>

	<br />

	<% if current_user %>
		<%= link_to "Edit Post", edit_post_path(@post), class: "btn btn-info btn-xs"%>
		<%= link_to "Destroy", post_path, data: {confirm: "Are you sure?"}, :method => :delete, class: "btn btn-danger btn-xs" %>
	<% end %>


	<div class="comments">
		<br />
		<form action="/comments" method="post">

		    <% flash.each do |name, msg| %>
		      <%= content_tag :div, msg, class: name %>
		    <% end %>

		    <%= form_for :comment do |f|  %>
		      <%= f.text_field :description, placeholder: "Comment", autofocus: true, class: "form-control" %> <br />
		      <%= f.hidden_field :post_id, value: params[:id] %>
			  <%= f.submit "Comment", class: "btn btn-info btn-xs" %>
		    <% end %>

		    <h3>Comments: <%= @post.comments.count %> </h3>
		    <hr>
		    <br />
		    <% @post.comments.each do |c| %>
		      <%= c.description %><br /><br />
		    <% end %> 

		</form>	
	</div>
</div>
