<%= @city.city_name %>

<%= @city.city_description %>

# form to create method should be post and go to post create not city create...

<div class="col-sm-8 col-sm-offset-2">

	<h1>Post about a city</h1>

	<form action="/posts" method="post">

	    <% flash.each do |name, msg| %>
	      <%= content_tag :div, msg, class: name %>
	    <% end %>

	    <%= form_for :posts do |f| %>
	      <%= f.text_field :title, placeholder: "Title", autofocus: true, class: "form-control" %> <br />
	      <%= f.text_field :content, placeholder: "Content", class: "form-control" %><br />
	      <%= f.submit "Post" %>
	    <% end %>

	</form>
	
</div>