<div class="col-sm-8 col-sm-offset-2">

	<h1><%= @city.city_name %></h1>

	<h4><%= @city.city_description %><h4>

</div>


<div class="col-sm-8 col-sm-offset-2">

	<h3>Write something about <%= @city.city_name %>...</h3>

	<form action="/posts" method="post">

	    <% flash.each do |name, msg| %>
	      <%= content_tag :div, msg, class: name %>
	    <% end %>

	    <%= form_for :post, :html => { :multipart => true } do |f|  %>
	      <%= f.text_field :title, placeholder: "Title", autofocus: true, class: "form-control" %> <br />
	      <%= f.text_area :content, placeholder: "Content", class: "form-control", size: "24x6" %> <br />
	      <%= f.hidden_field :city_id, value: params[:id] %>
		  <%= f.submit "Post", class: "btn btn-info" %>
	    <% end %>

	</form>

	<div class="citypost">
		<% @posts.each do |p| %>
		
		<div class="title">
			<h3>  <%= p.title %> </h3>
			<h5>  Author: <%= p.user.username %> </h5>
		</div>
		 	 <%= p.content %><br />

		<% end %>
	</div>

	
</div>